<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">
</head>
<body>
  <div id="page">
    <header>
      <h1 id="logo"><a href = "javascript:location.reload()">thanQu</a></h1>
      <h2 id="cname"><%= calname %></h2>
    </header>
    <article>
      <section id="question">
        <div id="qheader">
          <h4>과제 제출이 언제까지인가요?</h4>
          <p>2017/04/26 15:58</p>
        </div>
        <div id="qwrite">
          <p>방금 교수님께서 이번 주 과제 언제까지 제출하라고 하셨나요??</p>
          <p>어디에 내는지도  아시는 분!</p>
        </div>
        <div id="commentlike">
          댓글 공감
        </div>
      </section>
    </article>
    <form method="post" action ="/end">
    <footer>
      <input type="submit" value="종료" />
    </footer>
  </form>
  </div>
  <script>

  </script>
</body>
</html>
